.container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: white;
}

img {
  width: 200;
  height: auto;
  margin-bottom: 200;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
